/* CSS Style for the sign up page */

.main{
    width: 50%;
    margin: auto;
    padding-left: 250px;
}
.form-item{
    padding-bottom: 10px;
}
.form-item label{
    display: block;
    padding-bottom: 5px;
    font-size: 16px;
    color: #2b2b2d;
    font-family: 'Montserrat', sans-serif;
}
.form-item input{
    border: 2px solid #ebebeb;
    padding: 8px;
    width: 50%;
    border-radius: 5px;
    background-color: #fafbfc;
}
input:focus{
  outline: 0;
  border: 2px solid #646464!important;
  border-radius: 5px;
}
input.invalid-field{border: 1px solid red!important;}
.error-message{
    color: red;
    padding-top: 10px;
    display: block;
}
.logo{
    padding: 40px 0px 20px 100px;
}
.sign_up_btn{
    background-color: #1fbb4b;
    border: 1px solid #1fbb4b;
    border-radius: 5px;    
    padding: 8px;
    font-size: 15px;
    width: 53%;
    margin-top: 10px;
    color: #fff;
}
.sign_up_btn:hover{
    cursor: pointer;
}
.input-required-sign{color: red;}