<div class="main">

    <!-- LOGO displayed in the form -->
    <div class="logo"><img src="assets/images/digiflynt_logo.png" alt="digiflynt logo"></div>

    <!-- Form start -->
    <div>
        <form #signUpForm="ngForm">
            <div class="form-item">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" required #username="ngModel" [ngClass]="{'invalid-field': signUpForm.submitted && username.invalid}" ngModel>
                <span *ngIf="signUpForm.submitted && username.invalid" class="error-message">Username field is required</span>
            </div>
            <div class="form-item">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" required #password="ngModel" [ngClass]="{'invalid-field': signUpForm.submitted && password.invalid}" ngModel>
                <span *ngIf="signUpForm.submitted && password.invalid" class="error-message">Password field is required</span>
            </div>

            <button type="submit" class="login-btn">Login now</button>
            <div class="login-element">Don't have account? <a routerLink="/sign_up">Sign UP</a></div>
        </form>
    </div>
</div>

