.sidebar{
    width: 200px;
    border: 1px solid #e1e4e8;
    background: #f7f7f7;
    height: 100%;
    position: fixed;
    left: 0;
}
.sidebar img{
    padding-left:20px;
    padding-top: 20px;
}
.sidebar ul{
    margin: 0; 
    padding: 20px;
    padding-top: 50px;
}
.sidebar ul li{
    list-style: none;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    padding: 3px;
    margin-bottom: 6px;
}
.sidebar ul li a{
    color: #000;
    text-decoration: none;
    font-weight: bold;
}
.sidebar ul li a:hover{color: #58585c;}
.active-item{
    border-left: 2px solid #1fbb4b;
    padding-left: 5px;
}