<div class="main-container">
    <div class="child-container">

        <!-- Sidebar start -->
        <app-sidebar ></app-sidebar >
        <!-- Sidebar end -->

        <div class="content">

            <!-- Navbar start -->
            <app-navbar >Username</app-navbar >
            <!-- Navbar end -->

            <div class="head-content">
                <h1><i class="fa fa-users"></i>Employee details</h1>
            </div>
            
            <div class="main-container-details">
                <div class="child-container-details">
                    <div class="detail-element">
                        <span class="label">Name: </span>
                        <span>{{employee.name}}</span>
                    </div>
                    <div class="detail-element">
                        <span class="label">Username: </span>
                        <span>{{employee.username}}</span>
                    </div>
                    <div class="detail-element">
                        <span class="label">Email address: </span>
                        <span>{{employee.email}}</span>
                    </div>
                    <div class="detail-element">
                        <span class="label">Phone: </span>
                        <span>{{employee.phone}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>