<div class="main-container">
    <div class="child-container">

        <!-- Sidebar start -->
        <app-sidebar ></app-sidebar >
        <!-- Sidebar end -->

        <div class="content">

            <!-- Navbar start -->
            <app-navbar >Username</app-navbar >
            <!-- Navbar end -->

            <div class="head-content">
                <h1><i class="fa fa-users"></i>Employee details</h1>
            </div>
            
            <div class="main-container-details">
                <div class="child-container-details">
                    <div class="detail-element">
                        <span class="label">Name : </span>
                        <span>Dada</span>
                    </div>
                    <div class="detail-element">
                        <span class="label">Username : </span>
                        <span>Dada@122</span>
                    </div>
                    <div class="detail-element">
                        <span class="label">Email address : </span>
                        <span>Dada@gmail.com</span>
                    </div>
                    <div class="detail-element">
                        <span class="label">Phone Number : </span>
                        <span>263636637737</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>