.navbar{
    background-color: #fafbfc;
    border-bottom: 1px solid #e1e4e8;
    height: 50px;
}
.navbar ul{
    padding: 10px;
    margin: 0;
}
.navbar ul li.list-item{
    float: right;
    list-style: none;
    padding-top: 5px;
    padding-right: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: bold;
}