<div class="main-container">
    <div class="child-container">

        <!-- Sidebar start -->
        <app-sidebar ></app-sidebar >
        <!-- Sidebar end -->

        <div class="content">

            <!-- Navbar start -->
            <app-navbar >Username</app-navbar >
            <!-- Navbar end -->

            <div class="head-content">
                <h1><i class="fa fa-users"></i>Manage employees</h1>
            </div>

            <!-- Table start -->
            <div class="table-main-container">
                <div class="table-child-container">
                    <h1>All employees</h1>
                    <div class="table-content">
                        <table>
                            <tr>
                                <th>Name</th>
                                <th>Username</th>
                                <th>Email address</th>
                                <th>Phone</th>
                                <th>Status</th>
                                <th class="actions">Actions</th>
                            </tr>
                            <tr *ngFor=" let employee of all_employees">
                                <td>{{employee.name}}</td>
                                <td>{{employee.username}}</td>
                                <td>{{employee.email}}</td>
                                <td>{{employee.phone}}</td>
                                <td *ngIf="employee.email_verified" class="status-activated">Active</td>
                                <td *ngIf="!employee.email_verified" class="status-disactivated">Inactive</td>
                                <td class="view-icon">
                                    <a [routerLink]="['/employees', employee.public_id]" style="color:#111"><i class="fa fa-eye"></i></a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div> 
            </div>
            <!-- Table end -->
        </div>
    </div>
</div>