<div class="main-container">
    <div class="child-container">

        <!-- Sidebar start -->
        <div class="sidebar">
            <img src="assets/images/digiflynt_logo.png" width="125" height="80" alt="digiflynt logo">
            <ul>
                <li class="active-item"><a href="">Home</a></li>
                <li><a href="">View all employees</a></li>
            </ul>
        </div>
        <!-- Sidebar end -->

        <div class="content">

            <!-- Navbar start -->
            <div class="navbar">
                <ul class="list">
                    <li class="list-item">Username</li>
                </ul>
            </div>
            <!-- Navbar end -->

            <div class="head-content">
                <h1><i class="fa fa-users"></i>Manage employees</h1>
            </div>

            <!-- Table start -->
            <div class="table-main-container">
                <div class="table-child-container">
                    <h1>All employees</h1>
                    <div class="table-content">
                        <table>
                            <tr>
                                <th>Name</th>
                                <th>Username</th>
                                <th>Email address</th>
                                <th>Phone</th>
                                <th>Status</th>
                                <th class="actions">Actions</th>
                            </tr>
                            <tr>
                                <td>Dada</td>
                                <td>Dada97</td>
                                <td>Dada@gmail.com</td>
                                <td>+241 074 373636</td>
                                <td class="status-actived">Actived</td>
                                <td class="view-icon"><i class="fa fa-eye"></i></td>
                            </tr>
                        </table>
                    </div>
                </div> 
            </div>
            <!-- Table end -->
        </div>
    </div>
</div>