.content{
    margin-left: 200px;
}
.head-content h1{
    padding: 15px 0px 0px 30px;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
}
.head-content .fa-users{padding-right: 10px;}
.sidebar{
    width: 200px;
    border: 1px solid #e1e4e8;
    background: #f7f7f7;
    height: 100%;
    position: fixed;
    left: 0;
}
.sidebar img{
    padding-left:20px;
    padding-top: 20px;
}
.sidebar ul{
    margin: 0; 
    padding: 20px;
    padding-top: 50px;
}
.sidebar ul li{
    list-style: none;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    padding: 3px;
    margin-bottom: 6px;
}
.sidebar ul li a{
    color: #000;
    text-decoration: none;
    font-weight: bold;
}
.sidebar ul li a:hover{color: #58585c;}
.navbar{
    background-color: #fafbfc;
    border-bottom: 1px solid #e1e4e8;
    height: 50px;
}
.navbar ul{
    padding: 10px;
    margin: 0;
}
.navbar ul li.list-item{
    float: right;
    list-style: none;
    padding-top: 5px;
    padding-right: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: bold;
}
.active-item{border-left: 2px solid #1fbb4b;}
.table-child-container{
    border: 1px solid #1fbb4b;
    border-radius: 5px;
    background: #fafbfc;
}
.table-main-container{padding: 30px;}
.table-child-container h1{
    background-color: #1fbb4b;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    padding: 10px;
    margin: 0;
}
.table-content{padding: 10px;}
table, th, td{
    border: 1px solid #e1e4e8;
    border-collapse: collapse;
}
table{
    width: 100%;
    border-radius: 5px;
}
table th{font-weight: bold;}
table th.actions{
    width: 10px;
}
table td.status-actived{
    color:#1fbb4b;
    width: 10px;
}
th,td{
    padding: 5px;
    text-align: left;
    background-color: #fff;
}
.view-icon{text-align: center;}
.view-icon:hover{cursor: pointer;}

