.content{
    margin-left: 200px;
}
.head-content h1{
    padding: 15px 0px 0px 30px;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
}
.head-content .fa-users{padding-right: 10px;}
.table-child-container{
    border: 1px solid #1fbb4b;
    border-radius: 5px;
    background: #fafbfc;
}
.table-main-container{padding: 30px;}
.table-child-container h1{
    background-color: #1fbb4b;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    padding: 10px;
    margin: 0;
}
.table-content{padding: 10px;}
table, th, td{
    border: 1px solid #e1e4e8;
    border-collapse: collapse;
}
table{
    width: 100%;
    border-radius: 5px;
}
table th{font-weight: bold;}
table th.actions{
    width: 10px;
}
table td.status-activated{
    color:#1fbb4b;
    width: 10px;
}
table td.status-disactivated{
    color:red;
    width: 10px;
}
th,td{
    padding: 5px;
    text-align: left;
    background-color: #fff;
}
.view-icon{text-align: center;}
.view-icon:hover{cursor: pointer;}

